.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#mobileContainer {
  flex: 2;
  width: 100%;
}

#swiper {
  max-width: 600px;
  padding-bottom: 32px;
  margin-bottom: 20px;
}

#swiper img {
  max-height: 340px;
}

#webContainer {
  display: flex;
  flex: 1;
}
